services:
  - type: web
    name: anydownloader
    runtime: docker
    dockerfilePath: ./Dockerfile
    envVars:
      - key: API_BASE_URL
        value: http://localhost:8000
      - key: LOCAL_DOWNLOAD_DIR
        value: /tmp/downloads
      - key: YT_DLP_COOKIES_FILE
        value: /tmp/cookies.txt
      - key: YT_DLP_COOKIES_CONTENT
        sync: false
